.tag {
  display: inline-block;
  padding: $min;
  margin: 2px;
  line-height: 1;

  &-warning {
    background: {
      color: rgb(255 193 7);
    }
  }

  &__btn {
    color: #fff;
    background: {
      color: transparent;
    }

    border: none;
    cursor: pointer;

    &:hover {
      color: #000;
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
}
