{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          // "chrome": "74"
          "browsers": [
            ">= 1%",
            "last 2 versions",
            "not IE <= 11"
          ]
        }
      }
    ]
  ]
}