<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>

  <header class="header" id="Header"></header>

  <div class="page container mx-auto">
    <header class="page__head">
      <h1 class="page__tit">
        <%= htmlWebpackPlugin.options.title %>
      </h1>
    </header>

    <main class="main page__body">
      首頁內文區域
    </main>

  </div>
</body>

</html>